<!-- interpolation -->
<!-- <h1 class="text-danger">Hello your username is {{userName}}</h1> -->
<h1>Language is {{lang}}</h1>
<button (click)="toggleLanguage()">change</button>
<!-- <img class="img-fluid " src="images/1.jpg"/> -->

<!-- property binding -->
<!-- <img [src]="imgUrl"/> -->

<!-- <img src="{{imgUrl}}"/> -->

<!-- <input type="text" [value]="userName"/> -->

<!-- event binding -->

<!-- <button class="btn btn-primary" (click)="display($event)">Display Message</button> -->
<!-- <button class="btn btn-primary" (click)="display('mona')">Display Message</button> -->